html, body {
    padding: 0;
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    background-color: #F4F6FB;
}

/** GRID */
.container {
	display: grid;
	grid-template-areas:
		'left right';
	grid-template-columns: 200px calc(100% - 200px);
    height: 100vh;
}

.left-side {
	grid-item: left;
	max-width: 250px;
}
.right-side {
	grid-item: right;
}

/** END OF GRID */

#left-side {
	background-color: #fff;
	margin-left: 15px;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
}

a {
    color: #787d88;
    text-decoration: none;
}
a:hover {
    color: #D7443F;
}

h1 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #D7443F;
}
h4 {
    padding: 0;
    margin: 10px 0 0 10px;
}
div {
    padding: 0;
    margin: 0;
}
p {
    line-height: 1.5;
}

#logo {
    text-align: center;
    padding-top: 25px;
    color: #D7443F;
}
#logo h2,p {
	margin: 0px;
}
.tiny {
	font-size: 10px;
}
#main-menu ul {
    list-style: none;
}
#alert {
    color: #D7443F;
    display: none;
    text-align: center;
}
#menu-sect1 {
    color: #787d88;
	padding: 0;
    margin-top: 30px;
}
#menu-sect1 li:first-child {
	background-color: #A6A5A1;
	color: #F1ECE9;
	padding: 10px;
}
#menu-sect1 li{
	background-color: #D9D4D2;
}
#menu-sect1 input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	height: 30px;
	border: 1px solid #787d88;
	outline: none;
	color: #D7443F;
}
#menu-sect1 button {
	height: 30px;
	width: 100%;
	background-color: #F1ECE9;
	border: 1px solid #D9D4D2;
	outline: none;
    cursor: pointer;
}
#menu-sect1 button:hover {
    border: 1px solid #787d88;
}
#menu-sect2 {
    margin-top: 30px;
    padding: 0;
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
}

#menu-sect2 li {
    padding: 10px;
    background-color: #D9D4D2;
    cursor: pointer;
}
#menu-sect2 li:hover {
    background-color: #F1ECE9;
}

.submenu {
    width: 50%;
    float: left;
    text-align: center;
    padding: 30px 0px 8px 0px;
    border-bottom: 2px solid grey;
}
.submenu:hover {
    border-bottom: 2px solid #D7443F;
}
#logout {
    padding: 10px;
    font-weight: 600;
}
#copyright {
    margin-top: 30px;
    text-align: center;
    font-size: 10px;
}

#main-menu p {
    padding: 10px;
}

#main {
    display: none;
}
#main div {
    margin: 15px;
    padding: 15px;
    text-align: center;
}
#main div h1 {
    margin: 15px;
}

.holder {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    max-width: 680px;
    margin: 15px;
    overflow: visible;
}
#dataset {
    width: 500px;
    border-collapse: collapse;
    margin: auto;
}

#dataset thead th {
    background-color: #A6A5A1;
    color: #F1ECE9;
    border-bottom: 4px solid #D7443F;
    padding: 10px;
    cursor: pointer;
}
#dataset td {
    padding: 10px;
    cursor: pointer;
}

hr {
    margin: 15px;
}

#dataset tr {
    background-color: #F1ECE9;
}
#dataset tr:nth-child(even) {
    background-color: #D9D4D2;
}

#dataview {
    width: 90%;
    height: 90%;
}

#diagram {
    display: none;
}
#diagram2 {
    display: none;
}